data-factory-resources/pipeline/pl_ingest_81_columns.json
{
	"name": "pl_ingest_81_columns",
	"properties": {
		"activities": [
			{
				"name": "get_file_schema_of_raw_file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_excel_file_list",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@pipeline().parameters.pipeline_filename",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "get_ref_schema_81_columns",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_referece_schema",
						"type": "DatasetReference",
						"parameters": {
							"ds_reference_schema_filename": {
								"value": "@pipeline().parameters.pipeline_reference_schema_81",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "get_file_schema_of_raw_file",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "get_ref_schema_81_columns",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('get_file_schema_of_raw_file').output.structure,activity('get_ref_schema_81_columns').output.structure)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data 81",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"additionalColumns": [
										{
											"name": "filename",
											"value": {
												"value": "@pipeline().parameters.pipeline_filename",
												"type": "Expression"
											}
										},
										{
											"name": "currenttimestamp",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										},
										{
											"name": "loadid",
											"value": {
												"value": "@int(pipeline().parameters.pipeline_load_id)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"parallelCopies": 8,
								"dataIntegrationUnits": 16,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Active Ingredient",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Active_Ingredient",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ATC Code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ATC_Code",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Channel",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Channel",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Country",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Country",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Currency",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Currency",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Data Provider",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Data_Provider",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "End Data of Latest Data Period",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "End_Data_of_Latest_Data_Period",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "LOC Brand",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "LOC_Brand",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "LOC Category",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "LOC_Category",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "LOC Sub Brand",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "LOC_Sub_Brand",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "LOC Sub Category 3",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "LOC_Sub_Category_3",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Manufacturer",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Manufacturer",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Measure",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Measure",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Month 1",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_1",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 2",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_2",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 3",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_3",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 4",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_4",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 5",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_5",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 6",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_6",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 7",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_7",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 8",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_8",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 9",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_9",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 10",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_10",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 11",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_11",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 12",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_12",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 13",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_13",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 14",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_14",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 15",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_15",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 16",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_16",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 17",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_17",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 18",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_18",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 19",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_19",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 20",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_20",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 21",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_21",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 22",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_22",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 23",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_23",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 24",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_24",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 25",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_25",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 26",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_26",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 27",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_27",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 28",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_28",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 29",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_29",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 30",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_30",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 31",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_31",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 32",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_32",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 33",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_33",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 34",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_34",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 35",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_35",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 36",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_36",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 37",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_37",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 38",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_38",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 39",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_39",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 40",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_40",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 41",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_41",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 42",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_42",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 43",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_43",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 44",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_44",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 45",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_45",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 46",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_46",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 47",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_47",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 48",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_48",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 49",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_49",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 50",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_50",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 51",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_51",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 52",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_52",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 53",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_53",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 54",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_54",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 55",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_55",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 56",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_56",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 57",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_57",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 58",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_58",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 59",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_59",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "Month 60",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "month_60",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 5,
												"precision": 20
											}
										},
										{
											"source": {
												"name": "OTC Code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OTC_Code",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Pack Form",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Pack_Form",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Pack Size",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Pack_Size",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Pack Strength",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Pack_Strength",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Promo Type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Promo_Type",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Promo/Non-Promo",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Promo_Non_Promo",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SKU",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SKU",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Unit of Measure",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Unit_of_Measure",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "filename",
												"type": "String"
											},
											"sink": {
												"name": "filename",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "currenttimestamp",
												"type": "String"
											},
											"sink": {
												"name": "load_date",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										},
										{
											"source": {
												"name": "loadid",
												"type": "String"
											},
											"sink": {
												"name": "Batch_id",
												"type": "Int32",
												"physicalType": "int"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_excel_file_list",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@pipeline().parameters.pipeline_filename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_ingest_raw_file_data",
									"type": "DatasetReference",
									"parameters": {
										"ds_dest_schema": {
											"value": "@pipeline().parameters.pipeline_dest_schema",
											"type": "Expression"
										},
										"ds_dest_table": {
											"value": "@pipeline().parameters.pipeline_dest_table",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Copy data 81 sucess",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data 81",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT  '@{pipeline().RunId}' AS RUN_ID\n,'@{pipeline().DataFactory}' AS DATAFACTORY_NAME \n,'@{pipeline().Pipeline}' AS PIPELINE_NAME\n,'@{pipeline().parameters.pipeline_filename}' As file_name\n,'Copy data 81 ' as Source\n,'Azure Sql DB' as Destination\n,'@{activity('Copy data 81').output.rowsRead}' as RowsRead\n,'@{activity('Copy data 81').output.rowsCopied}' as RowsCopied\n,'@{activity('Copy data 81').output.copyDuration}' as copyDuration\n,'@{activity('Copy data 81').output.executionDetails[0].start}' as Execution_start\n,'@{activity('Copy data 81').output.executionDetails[0].status}' as Execution_Status\n,'1' as Execution_flag\n,'@{utcnow()}' as ErrorLoggedTime",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "RUN_ID",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "runid",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "DATAFACTORY_NAME",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "datafactory_name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "PIPELINE_NAME",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "pipeline_name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "file_name",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "filename",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Source",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "source",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Destination",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "destination",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "RowsRead",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "rowsRead",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											}
										},
										{
											"source": {
												"name": "RowsCopied",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "rowsCopied",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											}
										},
										{
											"source": {
												"name": "copyDuration",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "copyDuration",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											}
										},
										{
											"source": {
												"name": "Execution_start",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "starttime",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Execution_Status",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Execution_Status",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Execution_flag",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Execution_flag",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											}
										},
										{
											"source": {
												"name": "ErrorLoggedTime",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "ErrorLoggedTime",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlQery",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlQery",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy data 81 failure",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data 81",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT  '@{pipeline().RunId}' AS RUN_ID\n,'@{pipeline().DataFactory}' AS DATAFACTORY_NAME \n,'@{pipeline().Pipeline}' AS PIPELINE_NAME\n,'@{pipeline().parameters.pipeline_filename}' As file_name\n,'Copy data 81 ' as Source\n,'Azure Sql DB' as Destination\n,ISNULL('@{activity('Copy data 81').output.rowsRead}',0) as RowsRead\n,ISNULL('@{activity('Copy data 81').output.rowsCopied}',0) as RowsCopied\n,ISNULL('@{activity('Copy data 81').output.copyDuration}',0) as copyDuration\n,'@{activity('Copy data 81').output.executionDetails[0].start}' as Execution_start\n,'@{activity('Copy data 81').output.executionDetails[0].status}' as Execution_Status\n,'2' as Execution_flag\n,'@{utcnow()}' as ErrorLoggedTime\n,'@{replace(activity('Copy data 81').output.errors[0].Message,'''','')}' as ErrorDescriprion",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "RUN_ID",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "runid",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "DATAFACTORY_NAME",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "datafactory_name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "PIPELINE_NAME",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "pipeline_name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "file_name",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "filename",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Source",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "source",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Destination",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "destination",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "RowsRead",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "rowsRead",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											}
										},
										{
											"source": {
												"name": "RowsCopied",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "rowsCopied",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											}
										},
										{
											"source": {
												"name": "copyDuration",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "copyDuration",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											}
										},
										{
											"source": {
												"name": "Execution_start",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "starttime",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Execution_Status",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Execution_Status",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Execution_flag",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Execution_flag",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											}
										},
										{
											"source": {
												"name": "ErrorLoggedTime",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "ErrorLoggedTime",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										},
										{
											"source": {
												"name": "ErrorDescriprion"
											},
											"sink": {
												"name": "ERROR_description"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlQery",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlQery",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"pipeline_filename": {
				"type": "string"
			},
			"pipeline_dest_schema": {
				"type": "string",
				"defaultValue": "stg_gskcompass_dev"
			},
			"pipeline_dest_table": {
				"type": "string",
				"defaultValue": "gskcompass_81_stg_tbl"
			},
			"pipeline_reference_schema_81": {
				"type": "string",
				"defaultValue": "schema_81.xlsx"
			},
			"pipeline_reference_schema_31": {
				"type": "string",
				"defaultValue": "schema_31.xlsx"
			},
			"pipeline_load_id": {
				"type": "string",
				"defaultValue": "@variables('g_load_id')"
			}
		},
		"folder": {
			"name": "RawfileProcess"
		},
		"annotations": [],
		"lastPublishTime": "2022-07-22T18:21:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}